<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>{{pet.name}}</title>

</head>

<body>
  <div class="container">
    <h1 class="display-1 text-center">{{pet.name}}</h1>
    <div class="row">
      <div class="col mb-3 text-center">
        <img src="{{pet.image_url()}}" style=" width: 18rem;">
      </div>
      <ul class=" col-6 list-group m-3">
        <li class="list-group-item list-group-item-info text-center">Info about {{pet.name}}</li>
        <li class="list-group-item">Name: {{pet.name}}</li>
        <li class="list-group-item">Species: {{pet.species}}</li>
        {%if pet.age%}<li class="list-group-item">Age: {{pet.age}}</li>{%endif%}
        {%if pet.notes%}<li class="list-group-item"> Notes: {{pet.notes}}</li>{%endif%}

      </ul>
    </div>
  </div>
  <br>
  <div class="container">
    <h2>Edit</h2>
    <form method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden'%}
      <div class="form-group">
        {{field.label}}
        {{field(class_="form-control")}}
        {% for err in field.errors %}
        <small class="form-text text-danger">
          {{err}}
        </small>
        {% endfor %}
      </div>
      {% endfor %}
      <button class="btn  btn-info btn-lg">Submit</button>
      <a href="/" class="btn btn-danger btn-lg">Go Back</a>
    </form>
  </div>
</body>

</html>