<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Directory</title>
</head>

<body>
    <h1 class="display-1 text-center">Pets</h1>
    <div class="container">

        <div class="row justify-content-center">
            {% for pet in pets %}
            <div class="card m-3" style=" width: 18rem;"">
            <img src=" {{pet.image_url()}}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text"><a href="/{{pet.id}}">{{pet.name}}</a>
                        {% if pet.available %}
                        <span class="text-info">is available</span>
                        {% else %}
                        <span class="text-success">has found a home!! :) :)</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="text-center">
        <a href="/add" class="btn btn-success">Add pet</a>
    </div>
    </div>
</body>

</html>